<%- include('partials/header') %>
<h1>Técnico em Meio Ambiente</h1>
<p>
  O curso Técnico em Meio Ambiente forma profissionais preparados para
  identificar e resolver problemas ambientais. Durante a formação, o aluno
  aprende a realizar análises, elaborar relatórios e participar de projetos de
  sustentabilidade. O curso desenvolve uma visão crítica e responsável sobre o
  uso dos recursos naturais, capacitando para atuar em empresas, órgãos
  públicos, ONGs e pesquisa. É uma área em crescimento, essencial para enfrentar
  desafios como a crise climática e a gestão ambiental.
</p>
<%- include('partials/footer') %>
