<%- include('partials/header') %>
<h1>Técnico em Desenvolvimento de Sistemas</h1>
<p>
  O curso Técnico em Desenvolvimento de Sistemas da ETEC Martinho Di Ciero
  capacita o aluno para desenvolver, analisar e manter sistemas computacionais.
  Durante o curso, o estudante aprende linguagens de programação, modelagem de
  bancos de dados e documentação de projetos, além de desenvolver raciocínio
  lógico, trabalho em equipe e autonomia. Pode ser feito integrado ao ensino
  médio ou no período noturno, com duração de 1,5 a 3 anos. O profissional
  formado pode atuar em empresas públicas, privadas ou como freelancer, em um
  mercado de tecnologia em constante crescimento.
</p>
<%- include('partials/footer') %>
