<%- include('partials/header') %>
<h1>Sobre o EPA</h1>
<p>
  O EPA (Escola de Práticas Ambientais) da ETEC Martinho Di Ciero é um espaço
  onde os alunos aplicam conhecimentos teóricos em ações práticas voltadas à
  preservação do meio ambiente. Por meio de projetos como reciclagem, cultivo de
  hortas e monitoramento ambiental, os estudantes desenvolvem habilidades
  técnicas e consciência sustentável. O EPA promove a integração entre teoria e
  prática, preparando os alunos para contribuir com a preservação ambiental e a
  construção de um futuro mais sustentável.
</p>
<div class="epa-media">
  <img src="/images/Epa1.jpg" alt="Projeto Ambiental" />

  <iframe
    src="https://www.youtube.com/embed/M7T_shLNklU?si=RxJrKz8zzrJD5J1z"
    title="EPA na ETEC"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>

  <img src="/images/Epa2.jpg" alt="Logo Ambiental" />
</div>

<%- include('partials/footer') %>
