<%- include('partials/header') %>
<h1>Integrantes</h1>
<ul>
  <img src="/images/Image.jpeg">
   <li style="margin-top: 10px; padding-left: px;">Kauã Silva Vieira </li> <!--Melhor cara possível muito bom, contrata!!!!-->
</ul>
<%- include('partials/footer') %>
